In [1]:
# import packages
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# Pull the data
train_df = pd.read_csv("/Users/kruthika.kulkarni/Downloads/train.zip")

### Initial data understanding

In [3]:
train_df.head()

         date  store_nbr      family  sales  onpromotion
0  2013-01-01          1  AUTOMOTIVE    0.0            0
1  2013-01-01          1   BABY CARE    0.0            0
2  2013-01-01          1      BEAUTY    0.0            0
3  2013-01-01          1   BEVERAGES    0.0            0
4  2013-01-01          1       BOOKS    0.0            0

In [6]:
train_df.tail()

,date,store_nbr,family,sales,onpromotion
1111435,2017-08-15,9,POULTRY,438.133,0
1111436,2017-08-15,9,PREPARED FOODS,154.553,1
1111437,2017-08-15,9,PRODUCE,2419.729,148
1111438,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
1111439,2017-08-15,9,SEAFOOD,16.000,0

In [26]:
train_df.count()

date           1111440
store_nbr      1111440
family         1111440
sales          1111440
onpromotion    1111440
dtype: int64

In [5]:
train_df.dtypes

date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object

In [11]:
train_df.shape

(1111440, 5)

In [13]:
"""
Convert the store_nbr to string to be able to differentiate a identifier from the numerical data. 
This step has no consequence to the model. 
However, it is a practise i follow to ensure, I do not use this in model
"""

train_df['store_nbr'] = train_df['store_nbr'].astype(str)

In [10]:
# Convert date to the correct datetime format
train_df['date'] = pd.to_datetime(train_df['date'], format = '%Y-%m-%d')

# Understand the number of days of data
print(f"The data starts on {train_df['date'].min()}")
print(f"The data ends on {train_df['date'].max()}")

The data starts on 2013-01-01 00:00:00
The data ends on 2017-08-15 00:00:00

In [14]:
train_df.dtypes

date           datetime64[ns]
store_nbr              object
family                 object
sales                 float64
onpromotion             int64
dtype: object

In [23]:
# Understand the values in onpromotion, family
print(f"Values in onpromotion are \n {train_df['onpromotion'].value_counts()}")

print(f"\nValues in family are \n {train_df['family'].value_counts()}")

Values in onpromotion are
 0      890297
1       63745
2       27875
3       15743
4       10968
        ...
247         1
244         1
486         1
467         1
519         1
Name: onpromotion, Length: 250, dtype: int64

Values in family are
 AUTOMOTIVE                    33680
HOME APPLIANCES               33680
SCHOOL AND OFFICE SUPPLIES    33680
PRODUCE                       33680
PREPARED FOODS                33680
POULTRY                       33680
PLAYERS AND ELECTRONICS       33680
PET SUPPLIES                  33680
PERSONAL CARE                 33680
MEATS                         33680
MAGAZINES                     33680
LIQUOR,WINE,BEER              33680
LINGERIE                      33680
LAWN AND GARDEN               33680
LADIESWEAR                    33680
HOME CARE                     33680
HOME AND KITCHEN II           33680
BABY CARE                     33680
HOME AND KITCHEN I            33680
HARDWARE                      33680
GROCERY II                    33680
GROCERY I                     33680
FROZEN FOODS                  33680
EGGS                          33680
DELI                          33680
DAIRY                         33680
CLEANING                      33680
CELEBRATION                   33680
BREAD/BAKERY                  33680
BOOKS                         33680
BEVERAGES                     33680
BEAUTY                        33680
SEAFOOD                       33680
Name: family, dtype: int64

In [21]:
train_df[['sales','onpromotion']].corr().loc['sales','onpromotion']

0.4368048445084703

In [22]:
# Get the correlation between sales and onpromotion for each of the family of products
product_family = train_df['family'].unique()
for family in product_family:
    temp_df = train_df[train_df['family'] == family]
    print(f"For family: {family}, the correlation between sales and onpromotion is \
    {temp_df[['sales','onpromotion']].corr().loc['sales','onpromotion']}")

For family: AUTOMOTIVE, the correlation between sales and onpromotion is     0.11561230696645293
For family: BABY CARE, the correlation between sales and onpromotion is     0.032358189993436134
For family: BEAUTY, the correlation between sales and onpromotion is     0.32458143158725566
For family: BEVERAGES, the correlation between sales and onpromotion is     0.3978158515608012
For family: BOOKS, the correlation between sales and onpromotion is     nan
For family: BREAD/BAKERY, the correlation between sales and onpromotion is     0.13133109993406888
For family: CELEBRATION, the correlation between sales and onpromotion is     0.10068087236501518
For family: CLEANING, the correlation between sales and onpromotion is     0.1560490329261347
For family: DAIRY, the correlation between sales and onpromotion is     0.09337531599426786
For family: DELI, the correlation between sales and onpromotion is     0.14903449464607726
For family: EGGS, the correlation between sales and onpromotion is     0.1406460190068999
For family: FROZEN FOODS, the correlation between sales and onpromotion is     0.10677345245187099
For family: GROCERY I, the correlation between sales and onpromotion is     0.2794295123263374
For family: GROCERY II, the correlation between sales and onpromotion is     0.001989445788965289
For family: HARDWARE, the correlation between sales and onpromotion is     0.03474309790373762
For family: HOME AND KITCHEN I, the correlation between sales and onpromotion is     0.25083590784955034
For family: HOME AND KITCHEN II, the correlation between sales and onpromotion is     0.35911087059286106
For family: HOME APPLIANCES, the correlation between sales and onpromotion is     0.006232892569294552
For family: HOME CARE, the correlation between sales and onpromotion is     0.39045168003339864
For family: LADIESWEAR, the correlation between sales and onpromotion is     0.015779139992934652
For family: LAWN AND GARDEN, the correlation between sales and onpromotion is     0.31282698867675424
For family: LINGERIE, the correlation between sales and onpromotion is     0.06471626164901877
For family: LIQUOR,WINE,BEER, the correlation between sales and onpromotion is     0.2351078991978136
For family: MAGAZINES, the correlation between sales and onpromotion is     0.008447431767578012
For family: MEATS, the correlation between sales and onpromotion is     0.3588932318298786
For family: PERSONAL CARE, the correlation between sales and onpromotion is     0.2274590440787939
For family: PET SUPPLIES, the correlation between sales and onpromotion is     0.23996202091068886
For family: PLAYERS AND ELECTRONICS, the correlation between sales and onpromotion is     0.043329313041144964
For family: POULTRY, the correlation between sales and onpromotion is     0.250030070722809
For family: PREPARED FOODS, the correlation between sales and onpromotion is     -0.010434091868934374
For family: PRODUCE, the correlation between sales and onpromotion is     0.368848234200151
For family: SCHOOL AND OFFICE SUPPLIES, the correlation between sales and onpromotion is     0.5542404710689827
For family: SEAFOOD, the correlation between sales and onpromotion is     0.3049059919487383

In [27]:
"""
Graphical understanding of data
Only to be able to visually understand the two columns of onpromotion and sales, 
I have standardised the data here
"""

'\nGraphical understanding of data\nOnly to be able to visually understand the two columns of onpromotion and sales, \nI have standardised the data here\n'